body {color: #444; font-family: "Trebuchet MS", "Helvetica";}

.blue {color: blue} .red {color:red} .green {color:green} .orange {color:orange} .cyan {color:cyan} .fuchsia {color:fuchsia} .magenta {color: magenta} .aqua {color:aqua} .lime {color:lime} .purple {color: purple}

.bg-blue {background : blue} .bg-red {background :red} .bg-green {background :green} .bg-orange {background :orange} .bg-cyan {background :cyan} .bg-fuchsia {background :fuchsia} .bg-magenta {background : magenta} .bg-aqua {background :aqua} .bg-lime {background :lime} .bg-purple {background : purple}

.smaller {font-size: 90%;} .Smaller {font-size: 75%;} 
.bigger {font-size: 110%;} .Bigger {font-size: 120%;}

#container { 
     max-width: 400px;
     position:absolute; top:0; left:0; right:0; bottom:0; 
     margin: 20px auto;}

p, h1, h2, label, 
input[type=text], input[type=email],
input[type=number], input[type=submit]
{display: block; width: 90%; margin:10px auto}

input [type=checkbox] {margin-left: 10px;}

.error{color: red; font-size: 70%}