/* MODIFICACIONES */
div.table_wrapper{ padding-left:0px !important; padding-right:0px !important; }

table.adsterix_set td.light, 
table.adsterix_set td.dark{
	white-space:normal; 
	padding: 0.5em 10px !important
	}
table.adsterix_set td a{
	margin-left: 0 !important; 
	display:block;
	}
table.adsterix_set td span{
	margin-left: 0 !important; 
	padding-left:0 !important
	}
	
#pathaway{
	margin-left: 10px !important; 
	margin-right: 10px !important;
	max-width: 90%;
}

#searchbox{
	margin-left: 0px !important; 
	margin-right: 0px !important;
	padding: 5px !important;
	max-width: 100%;
}

input.adsterix_search{
	/*display:block !important;*/
	max-width: 80%;
}

.search_box_section, .adsterix_button{
	margin-left: 0 !important;
	display: block !important;
	margin-bottom: 10px !important
	
}

#flatMenu {margin-left: 10px !important; margin-right: 10px !important; padding: 0 !important }
#review-box {display:none !important}
#adwrap {padding: 0 10px !important}
#lineBlock {max-width: 90% !important}
#textwrap .image {display: none !important}

/* Poner las fotos en los anuncios una debajo de la otra */
table.view > tbody > tr > td { display: block !important }