#name{
	position:absolute;
	top: 3em;
	bottom: 10em;
	left: 1em;
	right: 1em;
	padding: .3em;
	
	overflow-y:scroll;
	border: 1px solid #ccc;
	
	box-shadow: 0 0 .3em #ccc;
	-moz-box-shadow: 0 0 .3em #ccc
	-webkit-box-shadow: 0 0 .3em #ccc
}

.info{
	position:absolute;
	margin:auto;
	bottom: 7em;
	left: 1em; right: 1em;
	height:1em;
	z-index: 10;
}

.progressbar{
	height: 100%;
	width: 100%;
	background: white;
	border-radius: .4em;
	overflow:hidden;
	border: solid 1px #cdcdcd;
	
	-moz-box-shadow: .1em .1em .3em #ccc;
	-webkit-box-shadow: .1em .1em .3em #ccc;
	box-shadow: .1em .1em .3em  #ccc;	
}

.prog-meter{
	background: #00accd;
	position:relative;
	width: 30%;
	height: 100%;
	left:0%;
}

.prog-meter.ind{
	width: 50% !important;
	
	animation: indet 3s infinite linear; 
	-moz-animation: indet 5s infinite linear;
	-webkit-animation: indet 5s infinite linear;
	
}

@keyframes indet{
	from { left: -60%; }
	to {left: 110%; }
}
@-webkit-keyframes indet{
	from { left: -60%; }
	to {left: 110%; }
}
@-moz-keyframes indet{
	from { left: -60%; }
	to {left: 110%; }
}

.align-bottom{
	position:absolute;
	bottom: 2em;
	margin: auto;
	left: 0; right: 0;
	width:7em !important;
	z-index: 10;
}

.left{ display:block !important; float:left !important; }
.right{ display:block !important; float:right !important; }
.clear{ clear:both; }


#error-page #error{
	position: absolute;
	top: 3em;
	bottom: 5em;
	left: 1em;
	right: 1em;
	padding: .3em;
	
	overflow-y:scroll;
	border: 1px solid #ccc;
	
	box-shadow: 0 0 .3em #ccc;
	-moz-box-shadow: 0 0 .3em #ccc
	-webkit-box-shadow: 0 0 .3em #ccc
}
